
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}
body {
  height: 100vh;
  margin:auto;
  
  background-color: black;
}
main {
  height:100vh;
  max-width: 90%;
  margin: 0 auto;
  background-color: white;
}
.container{
  max-width: 70%;
  height: 100vh;
  /* background:green; */
  margin: auto;
}
.container > svg{
  position: fixed;
  /* width:30rem;
  height:23rem; */
}
.container > svg:nth-child(2){
  height: 50rem;
  width: 50rem;
}
.company-detail-container{
  display:flex;
  padding-top:5rem;
  justify-content: space-between;
}
.company-detail-container >div:first-child{
  width:40%;
}
.company-detail-container >div:nth-child(2){
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1.5rem;
}
.company-detail-container > div >div{
color:red;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  background-color: yellow;
  height:2rem;
  width:15rem;
  margin-right: 4rem;
  border-radius: 0.3rem;
}
/* End of First section

Start of Player's Review */
.users-review-container{
  margin-top:7rem;
  display: flex;
  column-gap: 1.5rem;
}
.users-review{
  color: hsla(0, 0%, 100%, 0.774);
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.3rem;
    width:15rem;
  height:10rem;

}
img{
  border-radius: 50%;
  height:2.5rem;
  width:2.5rem;
}
.users-review > h3{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  
  
}
.users-review > h3 >span{
  color:pink;
  font-size: 0.7rem;
  

}
.users-review >div{
  max-width:90%;
  margin: auto;
  padding-top: 1.5rem;
  font-size: 0.7rem;
}
.users-review:nth-child(2){
  margin-top: 0.5rem;
}
.users-review:nth-child(3){
  margin-top: 1.2rem;
}






/* .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);} */